* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  background-color: #292c34 !important;
  color: #fff !important;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  padding: 2rem;
}

h1 {
  margin-bottom: 4ccsrem;
}

.render {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
}

.center {
  text-align: center;
}
.left-align {
  text-align: left;
  margin: 20px auto;
}

.main-title {
  margin-bottom: 2rem;
}

input[type="text"] {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
}

.inputTextLabel,
.form-container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

button {
  margin: 0px 5px;
  font-weight: bold;
  cursor: pointer;
}

.text-muted {
  color: #fff !important;
}

b {
  font-size: 1.5rem;
  padding: 0 8px;
}

header {
  border: 1px solid #fff;
  margin: 10vh 0;
  padding: 20px 30px;
}

.task {
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  padding: 15px 5px;
}

.close {
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  color: #ebba08 !important;
  opacity: 1 !important;
}

.close:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  color: red !important;
}

.task input {
  margin: 0 10px 0 5px;
  cursor: pointer;
}
